<div class="home-page" ng-show="!isOnline">
	<div class="container">
		<form role="form" name="registration" ng-submit="doRegistration(registration)" novalidate>
			<div class="login-wrapper">
				<div class="col-sm-6 col-md-6 form-wrapper">
					<div class="form-group row">
						<label class="label-control col-sm-3 col-md-3">User Name <span class="text-danger">*</span></label>
						<div class="col-sm-9 col-md-9">
							<input type="text" class="form-control" name="userName" ng-model="userName" required>
						</div>
						<!-- <div class="col-sm-6 col-md-6">
							<label class="label-control">Email</label>
							<input type="email" class="form-control" ng-model="user.email" name="email">
						</div> -->
					</div>
					<div class="form-group row">
						<div class="col-sm-12 col-md-12">
							<button class="btn btn-primary pull-right" type="submit" ng-disabled="registration.$invalid">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div ng-show="isOnline">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">{{ user }}</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="javascript:void(0)">Client</a></li>
				</ul>

				<ul class="nav navbar-nav" style="position: absolute;bottom: 0;width: 100%;left: 0;">
					<li style="border-bottom: 0;"><a href="javascript:void(0)" style="border: 1px solid #000000;" ng-click="logout()">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>