<div class="home-page" ng-show="!isOnline">
	<div class="container">
		<form role="form" name="registration" ng-submit="doRegistration(registration)" novalidate>
			<div class="login-wrapper">
				<div class="col-sm-6 col-md-6 form-wrapper">
					<div class="form-group row">
						<label class="label-control col-sm-3 col-md-3">User Name <span class="text-danger">*</span></label>
						<div class="col-sm-9 col-md-9">
							<input type="text" class="form-control" name="userName" ng-model="userName" required>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 col-md-12">
							<button class="btn btn-primary pull-right" type="submit" ng-disabled="registration.$invalid">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div ng-show="isOnline">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">{{ user }}</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ng-repeat="user in activeUsers" ng-if="user.token != token" class="user.conn_id" ng-class="{'active' : user.conn_id == isActiveChat }"><a href="javascript:void(0)" ng-click="subscribe(user.conn_id)">{{ user.name }} - {{ user.conn_id }}</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<section ng-show="isStartedChat" class="msg-pannel" style="position: absolute;right: 0;height: 100%;top: 0;width: 75%;">
		<form role="form" name="message" ng-submit="sendMessage(message)" novalidate>
			<div class="container">
				<div class="row" style="position: fixed;bottom: 10px;right: 0;width: 75%;">
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-11 col-md-11">
								<input type="text" name="msg" class="form-control" ng-model="msg">
							</div>
							<div class="col-sm-1 col-md-1">
								<button class="btn btn-primary" type="submit">go</button>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12" style="padding: 25px 0;">
						<ul id="message-list" style="list-style: circle;"></ul>
					</div>
				</div>
			</div>
		</form>
	</section>
</div>